body{
    padding-top: 70px;
    padding-bottom: 70px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
}

.book-thumbnail {
    background-color: #eee;
}

.book-thumbnail .caption {
    background-color: #fff;
    margin-top: 4px;
}
.book-thumbnail .book-cover {
    min-height: 240px;
}